<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description></description>
    <display-name>AddComputer</display-name>
    <servlet-name>AddComputer</servlet-name>
    <servlet-class>fr.excilys.computer_database.servlets.AddComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComputer</servlet-name>
    <url-pattern>/AddComputer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditComputer</display-name>
    <servlet-name>EditComputer</servlet-name>
    <servlet-class>fr.excilys.computer_database.servlets.EditComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditComputer</servlet-name>
    <url-pattern>/EditComputer</url-pattern>
  </servlet-mapping>
</web-app>